@font-face {
    font-family:bw;
    src: url('../font/maison-neue-mono.woff2');
}
@font-face {
    font-family:wb;
    src: url('../font/rz-regular.woff2')
}
/* -------------------------------- */
/* Html Rendering */
body{
    margin: 0;
    padding: 0;

}
section{
    padding: 0;
    margin:o;
}
/* Rendering End */
/* Global Element Styling */
h2{
    font-family:bw;
    font-size:40px;
}
h2:hover{
    text-decoration-line:underline;
}
h6{
    font-family:bw;
    font-size:14;;
}
a{
    text-decoration:none;
    color:black;
    font-family:wb;
}
.show-1>img ,.show-2>img,.show-3>img,.show-4>img,.show-5>img {
    width:40vw;
}
/* Global Styling End */
/* Header Styling */
header{
    height:40px;
    border-bottom:1px solid black;
}
/* ------------------------------- */
header>nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
/* --------------------------------- */
nav>ul{
    width:300px;
    display:flex;
    justify-content:space-between;
    float:right;
    list-style:none;
    margin-right:7%;
}
/* ------------------------------------ */
nav>h3{
    margin-left:0;
    font-size:16px;
    font-family:bw;
    margin-left:7%;
}
.blacky{
background:black;
color:white;
}
.whity{
    border:1px solid black;
}
/* Header Styling End */
/* The intro Section Styling start */
.intro{
    position:relative;
}
/* ----------------------- */
.intro h1{
    margin-left:5%;
    margin-bottom:20px;
    font-family:wb;
    font-size:110px;
    word-spacing:15px;
}
/* ------------------------- */
.intro h1:nth-child(1){
 width:90vw; 
}
/* ----------------------------- */
.intro h1:nth-child(2){
   position:absolute;
   top:3vh;
   width:70vw;
   line-height:110px;
   letter-spacing:3px;
}
/* ------------------------------ */
span{
    color:white;
    -webkit-text-stroke: 2px black;
}
/* --------------------------------- */
.intro>div{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
/* --------------------------------- */
#f1-intro{
    width:20vw;
    margin-bottom:25vh;
}
/* ------------------------------- */
#f2-intro{
    width:20vw;
    margin-top:10vh;
}
/* -------------------------------- */
#f3-intro{
    width:22vw;
}
/* Section intro Styling End */
/* Styling Section info Start */
.info{
    display:flex;
    justify-content:space-around;
}
/* ---------------------- */
.kat{
    margin:25vh 5vw 40vh 25vw;
    width:14vw;
}
/* ------------------------- */
.kat a{
    display:block;
 font-size:24px;
}
/* ----------------------------- */
.kat a:hover{
   border-bottom:2px solid black;
}
/* ------------------------------ */
.about{
    margin:25vh 15vw 40vh 1vw;
    width:35vw;
}
/* ------------------------------- */
.about p{
    font-size:12.2px;
    font-family:wb;
}
/* info Section Styling End */
/* show-1 Styling Start */
.show-1{
    position:relative;
    display:flex;
    justify-content:flex-end;
}
/* --------------------------- */
.show-1>h5{
    position:absolute;
    top:0;
    right:45vw;
    font-family:bw;
}
/* ----------------------------- */
.show-1>div {
text-align:right;
margin-top:34vh;
margin-right:10vw;
}
/* -------------------------------- */
.show-1>img{
    margin-top:20vh;
    margin-bottom:30vh;
}
/* show-1 Styling End */
/* show-2 Styling Start */
.show-2{
    display:flex;
    justify-content:flex-start;
}
/* --------------------------- */
.show-2>div {
margin-top:17vh;
margin-left:10vw;
}
/* -------------------------------- */
.show-2>img{
    margin-bottom:30vh;
}
/* show-2 Styling End */
/* show-3 Styling Start */
.show-3{
    display:flex;
    justify-content:flex-end;
}
/* --------------------------- */
.show-3>div {
text-align:right;
margin-top:17vh;
margin-right:10vw;
}
/* -------------------------------- */
.show-3>img{
 
    margin-bottom:30vh;
}
/* show-3 Styling End */
/* show-4 Styling Start */
.show-4{
    display:flex;
    justify-content:flex-start;
}
/* --------------------------- */
.show-4>div {
margin-top:17vh;
margin-left:10vw;
}
/* -------------------------------- */
.show-4>img{
    margin-bottom:30vh;
}
/* show-4 Styling End */
/* show-5 Styling Start */
.show-5{
    display:flex;
    justify-content:flex-end;
}
/* --------------------------- */
.show-5>div {
text-align:right;
margin-top:17vh;
margin-right:10vw;
}
/* -------------------------------- */
.show-5>img{
 
    margin-bottom:30vh;
}
/* show-5 Styling End */
/* section call Styling Start */
.call{
    background-color:black;
    height:76vh;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
}
/* ------------------------------ */
.call>h4{
    color:white;
    font-size:100px;
    font-family:wb;
    margin-left:5vw;
    margin-bottom:30px;
}
/* --------------------------------- */
.call>a{
    color:white;
    border:1px solid white;
    font-size:18px;
    text-align:center;
    width:100px;
    padding:0.7% 2%;
    margin-left:5vw;
}
/* ------------------------------ */
.call a:hover{
    box-shadow:5px 5px white;
}
/* section Call End */
/* Footer Styling  */
footer{
    text-align:center;
}
footer p{
    font-family:wb;
}
/* The End */